* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,.clearfix:after {
    display: table;
    content: " ";
}

.clearfix:after {
    clear: both;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: rgb(32,40,48);
	text-align: center;
	font-family: sans-serif;
}

.map-container {
	height: 880px;
	width: 600px;
	position: absolute;;
	left: 50%;
	margin-left: -300px;
	top: 88px;
	overflow: hidden;
}

path {
	cursor: pointer;
}

g.watersheds path:hover, g.counties path:hover {
	fill: rgb(16,216,188);
}

g.watersheds .active, g.counties .active {
	fill: rgb(16,216,188);
}

.boundary {
  fill: none;
  stroke: rgb(11,95,143);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#map {
	position: absolute;
	width: 100%;
	height: 100%;
	left: -2000px;
}

.f0 {
	fill: rgb(161,217,248);
}

.f1 {
	fill: rgb(106,194,244);
}

.f2 {
	fill: rgb(51,172,240);
}

.f3 {
	fill: rgb(16,144,216);
}

.f10 {
	fill: rgb(215,239,252);
}

/*.counties .f0 {
	fill: rgb(16,162,209);
}

.counties .f1 {
	fill: rgb(16,180,202);
}

.counties .f2 {
	fill: rgb(16,198,195);
}

.counties .f3 {
	fill: rgb(16,216,188);
}

.counties .f10 {
	fill: rgb(216,108,122);
}

.county-boundary {
  fill: none;
  stroke: rgb(11,95,143);
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}*/

.left {
	position: absolute;
	width: 40%;
	height: 100%;
	top: 0;
	left: 0;
}

.right {
	position: absolute;
	width: 60%;
	height: 100%;
	top: 0;
	right: 0;
}

.text-widget {
	width: 100%;
	padding: 16px 0px 24px 24px;
	color: rgb(224,232,240);
	text-align: left;
}

.geo-data {
	position: relative;
	margin-bottom: 16px;
}

.geo-heading {
	font: normal 32px/48px 'Varela Round', sans-serif;
}

.geo-heading:before {
	display: block;
	content: "";
	width: 100%;
	height: 4px;
	position: relative;
	margin: 0px 0px 16px 0px;
	background: rgb(16,144,216);
}

.geo-funding, .geo-projects {
	font: normal 48px/72px 'Varela Round', sans-serif;
}

.geo-name {
	font: normal 24px/36px 'Varela Round', sans-serif;
}

.text-widget .tag, .text-widget .chart-labels {
	width: 100%;
	text-transform: uppercase;
	font: normal 16px/24px 'Varela Round', sans-serif;
	color: rgb(192,200,208);
}

.text-widget .tag:after {
	display: block;
	content: "";
	position: relative;
	width: 100%;
	height: 1px;
	margin: 4px 0px;
	background: rgb(24,32,40);
	box-shadow: 0px 1px 2px 0px rgb(64,72,80);
}

.grant-chart {
	margin-top: 0px;
	transition: all 200ms ease-in-out;
}

.bar {
	position: relative;
	float: left;
	height: 120px;
	width: 28px;
	margin-top: 16px;
	margin-right: 8px;
	margin-bottom: 8px;
	background: rgb(40,48,56);
	border-radius: 2px;
	overflow: hidden;
}

.bar .level {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0px;
	width: 100%;
	background: rgb(80,96,112);
	transition: all 400ms ease-in-out;
	cursor: pointer;
}

.bar:last-of-type {
	margin-right: 0px;
}

.label-left {
	float: left;
}

.label-right {
	float: right;
	margin-right: 16px;
	margin-bottom: 16px;
}

.geo-data .programs {
	width: 100%;
}

.program-bar {
	height: 40px;
	margin-bottom: 16px;
}

.program-bar:first-of-type {
	margin-top: 16px;
}

.program-bar .program-label {
	position: relative;
	float: left;
	height: 32px;
	top: 50%;
	margin-top: -16px;
	padding: 0px 8px;
	font: normal 16px/32px 'Varela Round', sans-serif;
	background: rgb(24,32,40);
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgb(64,72,80); 
}

.program-bar .program-level {
	position: relative;
	float: left;
	height: 16px;
	width: 0px;
	top: 50%;
	margin-top: -8px;
	margin-left: 16px;
	border-radius: 8px;
	background: rgb(120,134,228);
	transition: all 400ms ease-in-out;
}

.program-level .tip {
	position: absolute;
	height: 32px;
	padding: 0px 8px;
	top: 50%;
	margin-top: -16px;
	left: 100%;
	margin-left: 16px;
	text-transform: uppercase;
	font: normal 16px/32px 'Varela Round', sans-serif;
	color: rgb(192,200,208);
	background: rgb(24,32,40);
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgb(64,72,80);
	z-index: 9999;
}

.funding-percent, .project-percent {
	position: absolute;
	height: 32px;
	padding: 0px 24px;
	top: 50%;
	margin-top: -4px;
	right: 24px;
	font: normal 16px/32px 'Varela Round', sans-serif;
	color: rgb(248,168,0);
	background: rgb(24,32,40);
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgb(64,72,80);
	z-index: 9999;
}

.percent {
	display: none;
}

.geo-toggle {
	position: absolute;
	top: 24px;
	right: 24px;
	font: normal 16px/32px 'Varela Round', sans-serif;
	border-radius: 4px;
	border: 2px solid rgb(64,72,80);
}

.geo-toggle > div {
	float: left;
	height: 32px;
	padding: 0px 24px;
	color: rgb(80,88,96);
	cursor: pointer;
	transition: all 400ms ease-in-out;
}

.geo-toggle > div:hover {
	color: rgb(120,128,136);
}

#swg {
	width: 122px;
}

#insr {
	width: 133px;
}

#twg {
	width: 52px;
}

#cbcig {
	width: 21px;
}

.stat-line {
	display: none;
	position: relative;
	height: 32px;
	padding: 0px 0px 0px 24px;
	margin: 8px 0px;
	font: normal 16px/32px 'Varela Round', sans-serif;
	color: rgb(248,168,0);
	background: rgb(24,32,40);
	border-radius: 4px;
	box-shadow: 0px 1px 2px 0px rgb(64,72,80);
}